[submodule "tmux/bundles/tmux-colors-solarized"]
	path = tmux/bundles/tmux-colors-solarized
	url = git@github.com:seebi/tmux-colors-solarized.git
[submodule "vim/bundle/JSON.vim"]
	path = vim/bundle/JSON.vim
	url = git@github.com:vim-scripts/JSON.vim.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "vim/bundle/html5.vim"]
	path = vim/bundle/html5.vim
	url = git@github.com:othree/html5.vim.git
[submodule "vim/bundle/tmux.vim"]
	path = vim/bundle/tmux.vim
	url = git@github.com:zaiste/tmux.vim.git
[submodule "vim/bundle/vim-handlebars"]
	path = vim/bundle/vim-handlebars
	url = git@github.com:nono/vim-handlebars.git
[submodule "vim/bundle/vim-puppet"]
	path = vim/bundle/vim-puppet
	url = git@github.com:rodjek/vim-puppet.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "vim/bundle/vim-rdoc"]
	path = vim/bundle/vim-rdoc
	url = git@github.com:depuracao/vim-rdoc.git
[submodule "git-prompt"]
	path = git-prompt
	url = git@github.com:lvv/git-prompt.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/bundle/Align"]
	path = vim/bundle/Align
	url = git@github.com:vim-scripts/Align.git
[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = git@github.com:tpope/vim-cucumber.git
[submodule "vim/bundle/hardmode"]
	path = vim/bundle/hardmode
	url = git@github.com:wikitopian/hardmode.git
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = git@github.com:vim-scripts/ag.vim.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule "vim/bundle/vim-ruby-xmpfilter"]
	path = vim/bundle/vim-ruby-xmpfilter
	url = git@github.com:t9md/vim-ruby-xmpfilter.git
